<footer class="footer">
        
    <div class="footer-logo">
        <h1 class="company-name">ANT Training Center</h1>
    </div>
    <p>&copy; 2024 Your Company. All rights reserved.</p>
</footer>