<header class="header">
    <div class="logo-container">
        <h1 class="company-name">ANT Training Center</h1>
    </div>
    <nav>
        <ul class="nav-links">
            <li><a href="/">Home</a></li>
            <li><a href="/about">About</a></li>
            <li><a href="/create">Create</a></li>
        </ul>
    </nav>
</header>