<!DOCTYPE html>
<html lang="en">

<%- include('./partials/head.ejs') %>

<body>

    <!-- Header -->
    <%- include('./partials/navbar.ejs') %>

    <!-- User List Section -->
    <section class="user-list">
        <h1>About Us</h1>
        <p>What is Lorem Ipsum?
            Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
    </section>

    <!-- Footer -->
    <footer class="footer">
        <div class="footer-logo">
            <h1 class="company-name">ANT Training Center</h1>
        </div>
        <p>&copy; 2024 Your Company. All rights reserved.</p>
    </footer>

</body>

</html>
