<!DOCTYPE html>
<html lang="en">

    <%- include('./partials/head.ejs') %>
    
<body>

     <!-- Header -->
     <%- include('./partials/navbar.ejs') %>

    <div class="form-container">
        <h2>Create Your Information</h2>
        <form action="/create" method="post" id="userForm" enctype="multipart/form-data">
            <div class="form-group">
                <label for="name">Name:</label>
                <input type="text" id="name" name="name" placeholder="Your name" >
            </div>
            
            <div class="form-group">
                <label for="email">Email:</label>
                <input type="text" id="email" name="email" placeholder="Your email" >
            </div>
            
            <div class="form-group">
                <label for="age">Age:</label>
                <input type="number" id="age" name="age" placeholder="Your age" >
            </div>
            
            <div class="form-group">
                <label for="age">Avarta:</label>
                <input type="file" id="avarta" name="avarta" >
            </div>

            <button type="submit">Submit</button>
        </form>
    </div>

    <%- include('./partials/footer.ejs') %>

</body>
</html>
